[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-ollama = "*"
langchain = "*"
langchain-google-genai = "*"
black = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
